# gitignore template for personal website

__pycache__/
*.py[cod]

*
!*.py
!*.txt
!*.md
!*.html
!*.css
!*.jpg
!*.pdf

!/app
/app/__pycache__

!/app/templates
!/app/static

!/app/static/css
!/app/static/img
!/app/static/pdf